<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/vue/dist/vue.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/index.js"></script>
</body>

</html>